body {
	background: #A1FB50;


/*  background: linear-gradient(to right, #C90EA7 5%, #000ADE);
*/
}

p {
	font-family: 'Play', sans-serif;
}

article {
	padding: 50px;
	padding-top: 30px;
	margin-top: 100px;
	background: #8E8E8E;
}

article p {
	font-size: 1.1rem;
}

.landing-page {
  height: 100vh;
  text-align: center;
}

.landing-page h1 {
	font-family: 'Anton', sans-serif;
}


.landing-page .author {
	font-family: 'Play', sans-serif;
	text-align: right;
	margin-left: 40px;
	float: left;
}

.landing-page .intro {
	width: 700px;
	font-size: 1.3rem;
	text-align: right;
	float: right;
	padding-right: 70px;
	position: relative;
	bottom: 50px;

}

.title {
  position: relative;
  font-size: 30vw;
  margin:0;
  padding: 0;
  text-align: center;
}

.click {
  color: red;
}

.hover {
  color: blue;
}
