body {
	background: #A1FB50;


/*  background: linear-gradient(to right, #C90EA7 5%, #000ADE);
*/
}

p {
	font-family: 'Play', sans-serif;
}

article {
	padding: 50px;
	padding-top: 30px;
	margin-top: 100px;
	background: #8E8E8E;
}

article p {
	font-size: 1.1rem;
}

.landing-page {
  height: 100vh;
  text-align: center;
}

.landing-page h1 {
	font-family: 'Anton', sans-serif;
}


.landing-page .author {
	font-family: 'Play', sans-serif;
	text-align: right;
	margin-left: 40px;
	float: left;
}

.landing-page .intro {
	width: 700px;
	font-size: 1.3rem;
	text-align: right;
	float: right;
	padding-right: 70px;
	position: relative;
	bottom: 50px;

}

.title {
  position: relative;
  font-size: 30vw;
  margin:0;
  padding: 0;
  text-align: center;
}

.click {
  color: red;
}

.hover {
  color: blue;
}

@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.ticker-wrap {  
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 4rem;
  background-color: blue;
  padding-left: 100%;  /*offset items to begin */
}

.ticker {
 
  display: inline-block;
  height: 4rem;
  line-height: 4rem;  
  white-space: nowrap; /* display items in a line*/
  padding-right: 100%; /*ensure items go before animations repeat (taken from parent due to inline-block)*/
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: ticker;
  animation-duration: 20s;
  
  }

.ticker__item {
    
    display: inline-block;
    padding: 0 2rem;
    color: black;
    font-size: 1.4rem;
    margin: 0;
      
}

/*.ticker-item p {
	margin-top: 0;
	margin-bottom: 40px;
    font-size: 3rem;
    color: black; 
}
*/



